@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --crvena:#dc0701;
    --zuta:hsl(51, 84%, 70%);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-size: cover;
    background-repeat: no-repeat;
}

.flex{
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}
.flexbox{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }






.glava{
    width: 100%;
    justify-content: space-around;
    place-items: center;
    background: #dc0701;
    position: fixed;
    min-height: 50px ;
}

.prvi{
    font-size: 25px;
    color: hsl(51, 84%, 70%);
    text-shadow: 0 0 8px black;
    position: relative;
}
.drugi{
    font-size: 25px;
    color: hsl(51, 84%, 70%);
    text-shadow: 0 0 8px black;
}

.logo:hover .prvi{
    transform: rotate(-45deg);
    transition: 350ms;
}
.logo:hover .drugi{
    transform: rotate(-45deg);
    transition: 350ms;
}


.meni{
    gap:150px;
}
.debelo:hover{
    font-weight: bold;
}
.meni .debelo{
    font-size: 20px;
    color: var(--zuta);

}
.login{
    background-color: var(--zuta);

   
    border-radius: 5px;
}
.pom{
    color: red;
    padding: 2px 20px;
}
.pom:hover {
    font-weight: bold;

}
.burger{
    width: 40px;
    height: 40px;
}
.logo:hover .burger{
    display: absolute;
}
header{
    position: fixed;
    z-index: 9999;
}

.idegasamongas{
    color:white;
    margin:auto;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    background-color: hsla(0, 12%, 5%, 0.671);
    height: 60%;
    box-shadow: 7px 2px 5px gray;
    width: 60%;
    /*border: 4px solid #dc0701;*/

}

* {
    box-sizing: border-box;
  }
  .mySlides {
    display: none
  }

  .slideshow-container {
    position: relative;
    border-radius: 15px;
    vertical-align: middle;
    border-radius: 15px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
 
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }