


body{
background-image: url(../images/blogo.jpg);
background-repeat: no-repeat;
background-size: cover;
min-height: 100%;
background-attachment: fixed;
padding-bottom: 30px;
}
.kardkont{
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(3,.5fr);
    height: 100vh;
    align-items: center;
}
.card{
    margin-block-start:5rem;
    box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.89);

}
.slika{
    width: 100%;
    height: 200px;
    display: block;
}
.tekst{
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 20px;
    background-color: #f0f0fa;
}


.loading {
    border: 16px solid #dc0701;;
    border-top: 16px solid  hsl(51, 84%, 70%);
     border-bottom: 16px solid  hsl(51, 84%, 70%);  
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1;
    left: 48%;
    top: 48%;
    position: absolute;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.je{
    margin-top: 0;
    cursor: default;
}
.dva{
    margin-top: 0;
    cursor: default;
}
.lajkovi{
    cursor: default;
}

.info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: #e2423c;
    font-size: 1.5em;
   
}
.lajkk{
   width: 50%;
   aspect-ratio: 1;
}


.lajkovi{
    z-index: 9999;
}

header{
    z-index: 9999;
}
.prst{
    cursor: pointer;
}
.card:hover{
    transform: scale(1.10);
    transition: 250ms;
}


.plus{
    position: relative;
    height:380px;
}

.zadod{
    border-radius: 50%;
    left: 40%;
    width: 100px;
    aspect-ratio: 1;
    font-size: 80px;
    background: none;
    padding-bottom: 5px;
    border: 4px solid hsl(0, 100%, 99%);
    color: rgb(255, 255, 255);
    cursor: pointer;

}
.nass{
    font-size: 40px;
 
    color:white;
}
.area{
    margin-top:-10px;
   resize: none;
}
.forma12{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.plus{
    background: hsla(0, 0%, 0%, 0.527);
}
.kardkont{
    max-width: 1000px;
}